@charset "UTF-8";
.nærboksIcon {
  display: block;
  margin-left: 43%;
  margin-top: 100%;
  width: 58px;
  height: 58px;
  animation: rotation 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.nærboks__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  width: 50%;
}

.authenticator, .--active {
  text-decoration: none;
  border: none;
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
  height: 44px;
  width: 60%;
  color: #7B8594;
  transition: ease-out 0.4s;
}

.inputtext {
  text-align: center;
  margin-top: 60px;
}

.--margin {
  margin-top: -11px;
}

.digitinput {
  width: 57px;
  height: 64px;
  font-size: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: #F4F4F4;
  border: none;
  display: flex;
}

.inputcontainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 65px;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.input:focus {
  border: 3px solid #6A9FC7;
  outline: none;
}

.input::-webkit-input-placeholder {
  color: transparent;
}

.input:-moz-placeholder {
  /* Firefox 18- */
  color: transparent;
}

.input::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent;
}

.input:-ms-input-placeholder {
  color: transparent;
}

.input:focus .input::-webkit-input-placeholder {
  color: #fff;
}

.input:focus .input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.input:focus .input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.input:focus .input:-ms-input-placeholder {
  color: #fff;
}

/* Main button */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 5px;
  background-color: #7B8594;
  color: #7B8594;
  box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  animation: dotTyping 1.5s infinite linear;
}

.col-3 {
  margin-left: 50%;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
  50% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px -10px 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px -10px 0 0 #7B8594;
  }
  100% {
    box-shadow: 9984px 0 0 0 #7B8594, 9999px 0 0 0 #7B8594, 10014px 0 0 0 #7B8594;
  }
}
.-authenticator:hover {
  box-shadow: inset 400px 0 0 0 linear-gradient(to right, #00A0D5, #07BCE9);
}

.lock {
  display: block;
  margin-left: 9em;
  margin-top: 4em;
  background-color: #EEF5FF;
  padding: 35px 40px 35px 40px;
  border-radius: 60px;
}

.feedback__text {
  color: #05b4e3;
  font-family: "Exo 2";
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 55px;
}

.feedback {
  font-family: "Exo 2";
  --normal: #eceaf3;
  --normal-shadow: #d9d8e3;
  --normal-mouth: #9795a4;
  --normal-eye: #595861;
  --active: #f8da69;
  --active-shadow: #f4b555;
  --active-mouth: #f05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.feedback li {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  transition: background 0.4s, box-shadow 0.4s, transform 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.feedback li:not(:last-child) {
  margin-right: 20px;
}
.feedback li div {
  width: 40px;
  height: 40px;
  position: relative;
  transform: perspective(240px) translateZ(4px);
}
.feedback li div svg, .feedback li div:before, .feedback li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}
.feedback li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.4s;
}
.feedback li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}
.feedback li div svg.eye.right {
  --l: 23px;
}
.feedback li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}
.feedback li div:before, .feedback li div:after {
  content: "";
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  transition: background 0.4s;
}
.feedback li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}
.feedback li.angry div:before {
  --r: 20deg;
}
.feedback li.angry div:after {
  --l: 23px;
  --r: -20deg;
}
.feedback li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}
.feedback li.angry.active1 {
  animation: angry 1s linear;
}
.feedback li.angry.active1 div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  animation: toggle 0.8s linear forwards;
}
.feedback li.angry.active1 div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  animation: toggle 0.8s linear forwards;
}
.feedback li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}
.feedback li.sad div:before, .feedback li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}
.feedback li.sad div:after {
  --l: 25px;
}
.feedback li.sad div svg.eye {
  --t: 16px;
}
.feedback li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}
.feedback li.sad.active1 div:before, .feedback li.sad.active1 div:after {
  animation: tear 0.6s linear forwards;
}
.feedback li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}
.feedback li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}
.feedback li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}
.feedback li.ok.active1 div:before {
  --middle-s-y: 0.35;
  animation: toggle 0.2s linear forwards;
}
.feedback li.ok.active1 div:after {
  --middle-s-x: 0.5;
  animation: toggle 0.7s linear forwards;
}
.feedback li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}
.feedback li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: 0.5;
  box-shadow: 16px 0 0 var(--b);
  filter: blur(2px);
}
.feedback li.good div:after {
  --sc: 0;
}
.feedback li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}
.feedback li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}
.feedback li.good.active1 div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  animation: toggle 0.8s linear forwards;
}
.feedback li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}
.feedback li.happy div:before {
  --sc: 0;
}
.feedback li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}
.feedback li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}
.feedback li.happy.active1 div:after {
  --middle-s-x: 0.95;
  --middle-s-y: 0.75;
  animation: toggle 0.8s linear forwards;
}
.feedback li:not(.active1) {
  cursor: pointer;
}
.feedback li:not(.active1):active1 {
  transform: scale(0.925);
}
.feedback li.active1 {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}
.feedback li.active1 div {
  animation: shake 0.8s linear forwards;
}

@keyframes shake {
  30% {
    transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
  }
  60% {
    transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
  }
  100% {
    transform: perspective(240px) translateZ(4px);
  }
}
@keyframes tear {
  0% {
    opacity: 0;
    transform: translateY(-2px) scale(0) translateZ(0);
  }
  50% {
    transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }
  20%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
  }
}
@keyframes toggle {
  50% {
    transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
  }
}
@keyframes angry {
  40% {
    background: var(--active);
  }
  45% {
    box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
  }
}
* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

/* ///// inputs /////*/
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
.styled-input label {
  color: #989898;
  border-radius: 20px;
  padding: 0px 0px 0px 20px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 320px;
  max-width: 100%;
  box-sizing: border-box;
}

input,
textarea {
  border: 0;
  resize: none;
  font-size: 1rem;
  color: black;
  border-radius: 12px;
  background-color: #F4F4F4;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.--position {
  margin-top: 11px;
}

.label__text {
  font-family: "Exo 2";
}

.--horizontal {
  margin-left: 22px;
}

.pushdown {
  margin-top: 90px;
}

.brand {
  justify-content: center;
  align-items: center;
}
.brand__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.choice {
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 210px;
  justify-content: space-evenly;
  margin-top: 45px;
}

.nærbokslogo_phonescreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}

.phoneinfo_text {
  font-size: 17px;
  text-align: center;
}

.phoneinfo_title {
  text-align: center;
  margin-top: 52px;
  font-weight: 600;
}

.dropdown__phonebtn {
  border: none;
  width: 77px;
  height: 55px;
  border-radius: 20px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.phoneinputfield {
  border-radius: 0 20px 20px 0;
  width: 227px;
}

.buttonPhone_container {
  display: flex;
  margin-top: 3em;
}

.confirmation__text {
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 14px;
  color: black;
  margin-left: 11px;
}

.confirmation__line {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.--phoneposition {
  margin-left: 4em;
  margin-top: 15em;
}

.inputArea {
  width: 360px;
}

.button__phoneImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 29px;
  height: 53px;
}

.button__brevImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 39px;
  padding-bottom: 33px;
  height: 45px;
}

.--font-size {
  font-size: 1rem;
}

.--choiceMargin-top {
  margin-top: -23px;
}

.styled-input wide.--sizeNavn {
  height: 55px;
}

.mascot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mascot__img {
  width: 170px;
  margin-top: 100px;
}
.mascot__txt {
  text-align: center;
}

.months {
  font-size: 1.1rem;
  font-weight: 500;
  color: #7B8594;
  margin-top: 40px;
  margin-bottom: 10px;
}

.introduction__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nærbokslogo_introduktionscreen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 44px;
}

.button__skip .--button__skip__width, .button__skip .--button__next__width {
  width: 160px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow: auto;
  white-space: nowrap;
  padding-left: 50px;
  padding-right: 46px;
  padding-top: 70px;
  margin-bottom: 40px;
}
.scrolling-wrapper .card {
  display: inline-block;
  margin-right: 10px;
}

.bluecircle {
  position: absolute;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #07bce9, #00a0d5);
  width: 3px;
  border-radius: 20px;
}

/* Remember to add new modules here:
    @forward 'module_name';
*/