.brand {
  justify-content: center;
  align-items: center;
  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
  }
}

.choice {
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 210px;
  justify-content: space-evenly;
  margin-top: 45px;
}
