@use "color" as *;

.button {
  &__action {
    width: 222px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to left, #07bce9, #00a0d5);
    color: white;
    font-family: "Exo 2";
    font-weight: 400;
  }

  &__action--small {
    width: 190px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to left, #07bce9, #00a0d5);
    color: white;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__action--thin {
    width: 116.65px;
    height: 33px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to left, #07bce9, #00a0d5);
    color: white;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__action--error {
    width: 159px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-color: #fa5353;
    color: white;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__next {
    width: 125px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to left, #07bce9, #00a0d5);
    color: white;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__skip {
    width: 125px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-color: #e4e9eb;
    color: #07bbe8;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__abort {
    width: 79px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-color: #f4f4f4;
    color: #ff7b7b;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__abort--small {
    width: 90px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-color: #f4f4f4;
    color: #ff7b7b;
    font-family: "Exo 2";
    font-weight: 500;
  }

  &__route {
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #ff3f47, #f26522);
    font-family: "Exo 2";
    font-weight: 500;

    &__pin{
      width: 12%;
    }
  }


  &__location {
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(to right, #07bce9, #00a0d5);
    font-family: "Exo 2";
    font-weight: 500;
  }
  &__scan {
    width: 145px;
    height: 155px;
    border: 2px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
    margin-top: 25px;
    background-color: white;
  }
  &__scanImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    height: 33px;
  }
  &__scanTxt {
    width: 70px;
    font-size: 1em;
    margin: 1em auto 20px;
    text-align: center;
  }
  &__scanBtn {
    width: 145px;
    height: 45px;
    border: none;
    background-image: linear-gradient(to right, #07bce9, #00a0d5);
    padding: 0;
    border-radius: 10px 10px 25px 25px;
    font-family: "Exo 2";
    color: white;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  }
  &__tast {
    width: 145px;
    height: 155px;
    border: 2px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
    margin-top: 25px;
    background-color: white;
  }
  &__tastImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    height: 33px;
  }
  &__tastTxt {
    width: 70px;
    font-size: 1em;
    margin: 1em auto 20px;
    text-align: center;
  }
  &__tastBtn {
    width: 145px;
    height: 45px;
    border: none;
    background-image: linear-gradient(to right, #07bce9, #00a0d5);
    padding: 0;
    border-radius: 10px 10px 25px 25px;
    font-family: "Exo 2";
    color: white;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  }
}
