@use "color" as *;

.body {
  margin: 0;
  display: flex;
  font-family: "Exo 2";
  flex-direction: column;
  &__feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__returnering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__kundeservice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


p {
  font-family: "Exo 2";
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 390px;
  margin-bottom: 0px;
  &__logo {
    justify-content: center;
  }
  &__weather {
  }
  &__menu {
  }
}

h1 {
  color: $primaryText;
  font-family: "Exo 2";
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Exo 2";
  font-weight: lighter;
  font-size: 20px;
  margin-top: 65px;
}

.globus {
  position: fixed;
  z-index: -1;
  bottom: -120px;
}
