@use "color" as *;

.body {
  margin: 0;
  display: flex;
  font-family: "Exo 2";
  flex-direction: column;
  &__feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__returnering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__kundeservice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__verificering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__homeIdle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__historik{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__minPakke{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



p {
  font-family: "Exo 2";
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 390px;
  margin-bottom: 0px;
  &__logo {
    justify-content: center;
  }
  &__weather {
  }
  &__menu {
  }
}

h1 {
  color: $primaryText;
  font-family: "Exo 2";
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 0px;
  text-align: center;
}

h2{
  font-family: "Exo 2";
  font-weight: 500;
}

h3 {
  font-family: "Exo 2";
  font-weight: lighter;
  font-size: 20px;
  margin-top: 65px;
}

.globus {
  position: fixed;
  z-index: -1;
  bottom: -120px;
}

.menu__container{
  backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.5);  
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: ease-out 0.2s;
  position: relative;
  left: -500px;
  z-index: 9;
}

.navbar{
  position: absolute;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  max-height: 60px;

  &__logo{
    max-width: 171px;
    margin-top: 12px;
  }

  &__weather{
    max-width: 40px;
    position: absolute;
    right: 20px;
    top: 10px;
  }
}

.nav{
  max-height: 60px;
}

.nav__list{
  list-style: none;
  position: relative;
  top: 70px;
  left: 10px;
}

.nav__item a{
  text-decoration: none;
  color: white;
  font-family: 'Exo 2';
  font-weight: 300;
  font-size: 3rem;
}

.nav__item{
  padding-bottom: 30px;
  max-width: 325px;
  margin-right: 0;
}

.nav__item.log{
  margin-top: 225px;
}

body{
  background-image: url(grass.jpg);
  margin: 0;
}

ul {
  margin: 0;
}

.line {
  width: 30px;
  margin-bottom: 5px;
  height: 4px;
  background-color: black;
  transition: all 0.5s;
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  transition: all 0.5s;
}

.line-1{
  top: 20px;
  left: 20px;
}

.line-2{
  top: 27px;
  left: 20px;
}

.line-3{
  top: 34px;
  left: 20px;
}

.active .line-1 {
  transform: rotateZ(-45deg) translate(-6px, 8px);
  background-color: white;
}

.active .line-2 {
  opacity: 0;
  background-color: white;
}

.active .line-3 {
  transform: rotateZ(45deg) translate(-2px, -4px);
  background-color: white;
}

.active{
  transition: ease-in 0.3s;
  left: 0;
}

.delay{
  opacity: 1;
}
