@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");
.button__action {
  width: 222px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 400;
}
.button__action--small {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__action--thin {
  width: 116.65px;
  height: 33px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__action--error {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #fa5353;
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__next {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__skip {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #e4e9eb;
  color: #07bbe8;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__abort {
  width: 79px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #ff7b7b;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__abort--small {
  width: 90px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #ff7b7b;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__route {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #ff3f47, #f26522);
  font-family: "Exo 2";
  font-weight: 500;
}
.button__location {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  font-family: "Exo 2";
  font-weight: 500;
}
.button__scan {
  width: 145px;
  height: 155px;
  border: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 25px;
}
.button__scanImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  height: 33px;
}
.button__scanTxt {
  width: 70px;
  font-size: 1em;
  margin: 1em auto 20px;
  text-align: center;
}
.button__scanBtn {
  width: 145px;
  height: 45px;
  border: none;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  padding: 0;
  border-radius: 10px 10px 25px 25px;
  font-family: "Exo 2";
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.button__tast {
  width: 145px;
  height: 155px;
  border: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 25px;
}
.button__tastImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  height: 33px;
}
.button__tastTxt {
  width: 70px;
  font-size: 1em;
  margin: 1em auto 20px;
  text-align: center;
}
.button__tastBtn {
  width: 145px;
  height: 45px;
  border: none;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  padding: 0;
  border-radius: 10px 10px 25px 25px;
  font-family: "Exo 2";
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.body {
  margin: 0;
  display: flex;
  font-family: "Exo 2";
  flex-direction: column;
}
.body__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body__returnering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__kundeservice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Exo 2";
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 390px;
  margin-bottom: 0px;
}
.header__logo {
  justify-content: center;
}
h1 {
  color: #05b4e3;
  font-family: "Exo 2";
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 0px;
}

h2 {
  font-family: "Exo 2";
  font-weight: 500;
}

h3 {
  font-family: "Exo 2";
  font-weight: lighter;
  font-size: 20px;
  margin-top: 65px;
}

.globus {
  position: fixed;
  z-index: -1;
  bottom: -120px;
}

/*.infoCard {
  width: 369px;
  height: 180px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  &__topContent {
    display: flex;
    flex-direction: row;
    width: 359px;
    height: 70px;
  }
  &__buttomContent {
    display: flex;
    flex-direction: row;
    width: 369px;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
  }
  &__sidecolor {
    height: 180px;
    width: 25px;
    background-image: linear-gradient(to right, #07bce9, #00a0d5);
  }
  &__button {
    width: 250px;
  }
  &__text {
    font-size: 1em;
    text-align: center;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
}
*/
.bluebox {
  width: 34px;
  background: linear-gradient(180deg, #07bce9 0%, #00a0d5 100%);
  border-radius: 15px 0px 0px 15px;
}

.infoCard2 {
  margin-top: 60px;
  width: 369px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.--infocard2Flex {
  display: flex;
  grid-template-columns: 35px 1fr;
}

.nærboks__name {
  font-size: 15px;
}

.nærboks__pakkenr {
  font-size: 13px;
  margin-top: -6px;
}

.moreInfo_dropdown {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  grid-area: dropdown;
}

.nærboks__info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nærboksInfo;
}

.parcel__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logo;
  place-self: center;
}

.exp__date {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  font-size: 10px;
  grid-area: exp;
  place-self: center;
  margin-bottom: 5px;
}

.button__action.--btnactionGrid {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: hentpakke;
}

.Countdown {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: countdown;
  place-self: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr 0.1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "nærboksInfo logo" ". exp" "hentpakke countdown" "dropdown dropdown";
  margin-left: 10px;
}

.dropdown__text {
  margin-bottom: 10px;
  font-size: 1rem;
}

.bluearrow {
  width: 16px;
  margin-top: -3px;
  margin-bottom: 8px;
}

/* Remember to add new modules here:
    @forward 'module_name';
*/