@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap");
.button__action {
  width: 222px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 400;
}
.button__action--small {
  width: 190px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__action--thin {
  width: 116.65px;
  height: 33px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__action--error {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #fa5353;
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__feedback {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #25E632;
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button__next {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07bce9, #00a0d5);
  color: white;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__skip {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #e4e9eb;
  color: #07bbe8;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__abort {
  width: 79px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #ff7b7b;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__abort--small {
  width: 90px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #ff7b7b;
  font-family: "Exo 2";
  font-weight: 500;
}
.button__route {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #ff3f47, #f26522);
  font-family: "Exo 2";
  font-weight: 500;
}
.button__route__pin {
  width: 12%;
}
.button__location {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  font-family: "Exo 2";
  font-weight: 500;
}
.button__scan {
  width: 145px;
  height: 155px;
  border: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 25px;
  background-color: white;
}
.button__scanImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  height: 33px;
}
.button__scanTxt {
  width: 70px;
  font-size: 1em;
  margin: 1em auto 20px;
  text-align: center;
}
.button__scanBtn {
  width: 145px;
  height: 45px;
  border: none;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  padding: 0;
  border-radius: 10px 10px 25px 25px;
  font-family: "Exo 2";
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.button__tast {
  width: 145px;
  height: 155px;
  border: 2px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 25px;
  background-color: white;
}
.button__tastImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  height: 33px;
}
.button__tastTxt {
  width: 70px;
  font-size: 1em;
  margin: 1em auto 20px;
  text-align: center;
}
.button__tastBtn {
  width: 145px;
  height: 45px;
  border: none;
  background-image: linear-gradient(to right, #07bce9, #00a0d5);
  padding: 0;
  border-radius: 10px 10px 25px 25px;
  font-family: "Exo 2";
  color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.body {
  margin: 0;
  display: flex;
  font-family: "Exo 2";
  flex-direction: column;
}
.body__feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body__returnering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__kundeservice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__verificering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__homeIdle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__historik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body__minPakke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Exo 2";
}

.header {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-evenly;
  width: 390px;
  margin-bottom: 0px;
}
.header__logo {
  justify-content: center;
}
h1 {
  color: #00A3DB;
  font-family: "Exo 2";
  font-size: 30px;
  margin-top: 55px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-family: "Exo 2";
  font-weight: 500;
}

h3 {
  font-family: "Exo 2";
  font-weight: lighter;
  font-size: 20px;
  margin-top: 65px;
}

.globus {
  position: fixed;
  z-index: -1;
  bottom: -120px;
}

.menu__container {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: ease-out 0.2s;
  position: relative;
  left: -500px;
  z-index: 9;
}

.navbar {
  position: absolute;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  max-height: 60px;
}
.navbar__logo {
  max-width: 171px;
  margin-top: 12px;
}
.navbar__weather {
  max-width: 40px;
  position: absolute;
  right: 20px;
  top: 10px;
}
.navbar__back {
  position: absolute;
  top: 13px;
  left: 20px;
}
.navbar__back__arrow {
  width: 17px;
}

.nav {
  max-height: 60px;
}

.nav__list {
  list-style: none;
  position: relative;
  top: 70px;
  left: 10px;
}

.nav__item a {
  text-decoration: none;
  color: white;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 3rem;
}

.nav__item {
  padding-bottom: 30px;
  max-width: 325px;
  margin-right: 0;
}

.nav__item.log {
  margin-top: 225px;
}

body {
  background-image: url(grass.jpg);
  margin: 0;
}

ul {
  margin: 0;
}

.line {
  width: 30px;
  margin-bottom: 5px;
  height: 4px;
  background-color: black;
  transition: all 0.5s;
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  transition: all 0.5s;
}

.line-1 {
  top: 20px;
  left: 20px;
}

.line-2 {
  top: 27px;
  left: 20px;
}

.line-3 {
  top: 34px;
  left: 20px;
}

.active .line-1 {
  transform: rotateZ(-45deg) translate(-6px, 8px);
  background-color: white;
}

.active .line-2 {
  opacity: 0;
  background-color: white;
}

.active .line-3 {
  transform: rotateZ(45deg) translate(-2px, -4px);
  background-color: white;
}

.active {
  transition: ease-in 0.3s;
  left: 0;
}

.delay {
  opacity: 1;
}

/*.infoCard {
  width: 369px;
  height: 180px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  &__topContent {
    display: flex;
    flex-direction: row;
    width: 359px;
    height: 70px;
  }
  &__buttomContent {
    display: flex;
    flex-direction: row;
    width: 369px;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
  }
  &__sidecolor {
    height: 180px;
    width: 25px;
    background-image: linear-gradient(to right, #07bce9, #00a0d5);
  }
  &__button {
    width: 250px;
  }
  &__text {
    font-size: 1em;
    text-align: center;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
}
*/
.bluebox {
  grid-row: span 3;
  width: 34px;
  background: linear-gradient(180deg, #07bce9 0%, #00a0d5 100%);
  border-radius: 15px 0px 0px 15px;
}

.infoCard2 {
  position: relative;
  margin-top: 60px;
  width: 369px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.--infocard2Flex {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 35px 1fr;
  position: relative;
}

.nærboks__name {
  font-size: 1rem;
}

.nærboks__pakkenr {
  font-size: 13px;
  margin-top: -6px;
}

.moreInfo_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
}

.nærboks__info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nærboksInfo;
}

.parcel__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: logo;
  place-self: center;
}

.exp__date {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  font-size: 13px;
  grid-area: exp;
  place-self: center;
  margin-bottom: 5px;
}

.button__action.--btnactionGrid {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  font-size: 1.1rem;
  grid-area: hentpakke;
}

.Countdown {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: countdown;
  place-self: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.5fr 0.1fr 0.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "nærboksInfo logo" ". exp" "hentpakke countdown" "dropdown dropdown";
  margin-left: 10px;
  padding-bottom: 2rem;
}

.dropdown__text {
  margin-bottom: 10px;
  font-size: 1rem;
}

.bluearrow {
  width: 16px;
  margin-top: -3px;
  margin-bottom: 8px;
}

.location__title, .size__title {
  grid-area: locationTitle;
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: -17px;
  font-size: 1.1rem;
}

.route__flex, .around__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.route__flex__title, .around__flex__title {
  margin-bottom: 8px;
}

.locationbtn__gridarea {
  grid-area: locationbuttons;
  display: flex;
  justify-content: space-evenly;
  margin-left: -10px;
}

.placeDescription {
  grid-area: placedescription;
  margin-left: 10px;
  width: 300px;
}
.placeDescription__title {
  font-weight: 600;
  margin-bottom: -11px;
}

.nærboks__pic {
  grid-area: nærbokspic;
  margin-left: 10px;
  margin-bottom: 70px;
}

.pakkeinfo {
  margin-left: 10px;
  padding-bottom: 4rem;
  margin-top: -12px;
}

.pakkeinfo__flex {
  display: flex;
  margin-top: 10px;
}

.pakkestats {
  width: 43%;
  font-size: 14px;
  max-width: 127px;
}

.pakkestats__line {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.--min-width {
  min-width: 58px;
}

.--padding {
  padding-bottom: 40px;
}

.infoCard2 {
  height: 210px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 50px;
}

.infoCard2 .secondwrapper, .infoCard2 .pakkeinfo {
  opacity: 0;
}

/* OPEN STATE */
.infoCard2.--open {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: visible;
}

.bluebox.--open {
  overflow: visible;
}

.infoCard2.--open .secondwrapper, .infoCard2.--open .pakkeinfo {
  opacity: 1;
}

.infoCard2.--open .moreInfo_dropdown {
  top: unset;
}

.historyCard {
  position: relative;
  margin-top: 40px;
  width: 369px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: auto;
  margin-right: auto;
}

.historyinfo {
  display: flex;
  margin-bottom: -15px;
}

.historyCard .--historyCardFlex {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 35px 1fr;
  position: relative;
}

.Calender {
  place-self: center;
  width: 50px;
  margin-top: 10px;
  margin-right: 4px;
}

.p__margin {
  margin-top: 10px;
}

.--historycardWidth {
  height: 144px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.--p__marginLeft {
  margin-left: 10px;
}

.--greyColor {
  color: #7B8594;
}

/* Remember to add new modules here:
    @forward 'module_name';
*/