/* Remember to add new modules here:
    @forward 'module_name';
*/
.button__action {
  width: 222px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07BCE9, #00A0D5);
  color: white;
}
.button__action--small {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07BCE9, #00A0D5);
  color: white;
}
.button__action--thin {
  width: 116.65px;
  height: 33px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07BCE9, #00A0D5);
  color: white;
}
.button__action--error {
  width: 159px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #FA5353;
  color: white;
}
.button__next {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to left, #07BCE9, #00A0D5);
  color: white;
}
.button__skip {
  width: 125px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #E4E9EB;
  color: #07BBE8;
}
.button__abort {
  width: 79px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #FF7B7B;
}
.button__abort--small {
  width: 90px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  color: #FF7B7B;
}
.button__route {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #FF3F47, #F26522);
}
.button__location {
  width: 130px;
  height: 41px;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(to right, #07BCE9, #00A0D5);
}

/* Remember to add new modules here:
    @forward 'module_name';
*/